/out/
/_*/
*__pycache__
*.lnk
*.txt
*.sqlite
*.sh

/manifest/parse.py
/manifest/DL_DecryptManifest.exe
/manifest/*.json
/manifest/*.json.old
/manifest/*/*.manifest
/manifest/*/*.manifest.decrypted

/loader/InGameBuffUI.py
/loader/MergeBg.py

.venv